function Main.main 4
push constant 0
pop local 3
push constant 0
pop local 1
push constant 1
neg
pop local 2
call RussianOutput.new 0
pop local 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 1
push local 2
push local 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 100
call Sys.wait 1
pop temp 0
call Keyboard.keyPressed 0
pop local 1
label IF_FALSE0
label WHILE_EXP1
push local 1
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 130
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 3
push constant 1
sub
pop local 3
goto IF_END1
label IF_FALSE1
push local 0
push constant 0
push local 3
call RussianOutput.SetCursor 3
pop temp 0
push local 0
push local 1
call RussianOutput.PrintChar 2
pop temp 0
push local 3
push constant 1
add
pop local 3
label IF_END1
push local 1
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
