function Alphabet.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
call Array.new 1
pop this 0
push argument 0
call Array.new 1
pop this 1
push argument 0
pop this 4
push argument 0
call Array.new 1
pop this 2
push constant 0
pop this 3
push pointer 0
return
function Alphabet.AddChar 0
push argument 0
pop pointer 0
push argument 1
call Glyph.GetValue 1
push this 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 3
push this 1
add
push argument 1
call Glyph.GetValue 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 3
push constant 1
add
pop this 3
push constant 0
return
function Alphabet.AddAdditionalCharValue 0
push argument 0
pop pointer 0
push argument 1
push this 2
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Alphabet.IsCharInAlphabet 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 3
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
pop pointer 1
push that 0
push argument 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push this 4
lt
not
if-goto WHILE_END1
push local 0
push this 2
add
pop pointer 1
push that 0
push argument 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function Alphabet.IsLowerCaseCharInAlphabet 0
push argument 0
pop pointer 0
push argument 1
push constant 32
sub
pop argument 1
push pointer 0
push argument 1
call Alphabet.IsCharInAlphabet 2
return
function Alphabet.GetChar 1
push argument 0
pop pointer 0
push argument 1
push constant 128
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 4
lt
not
if-goto WHILE_END0
push local 0
push this 2
add
pop pointer 1
push that 0
push argument 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push this 0
add
pop pointer 1
push that 0
return
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
label IF_FALSE0
push argument 1
push this 0
add
pop pointer 1
push that 0
return
function Alphabet.GetSprite 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
call Alphabet.GetChar 2
pop local 0
push local 0
call Glyph.GetSprite 1
return
function Alphabet.dispose 3
push argument 0
pop pointer 0
push constant 0
pop local 1
push this 0
call Array.length 1
pop local 2
label WHILE_EXP0
push local 1
push local 2
lt
not
if-goto WHILE_END0
push local 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Glyph.dispose 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push this 0
call Array.dispose 1
pop temp 0
push constant 0
return
