function Main.main 1
push constant 10
push constant 10
push constant 10
push constant 10
call RussianScreen.new 4
pop local 0
push local 0
push constant 19
call String.new 1
push constant 99
call String.appendChar 2
push constant 106
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 55
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
call RussianScreen.PrintString 2
pop temp 0
push local 0
push constant 32000
call RussianScreen.PrintInt 2
pop temp 0
push constant 0
return
